#logo {
  display: flex;
}

#logo p {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

.logo {
  margin: 10px;
  margin-left: 30px;
}
.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid black 1px;
}

.container {
  width: 100%;
}

#menu {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

#menu li {
  display: inline-block;
  padding: 10px;
}

ul {
  list-style: none;
}
