#main {
  margin-left: 60px;
  position: relative;
  top: 90px;
}

#logo {
  display: flex;
  width: 1100px;
}

#logo p {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 30px;
}
.header {
  width: 100%;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid black 1px;
  position: fixed;
  z-index: 10;
  background-color: white;
  margin-bottom: 10px;
  top: 0;
}

div {
  border: 1px solid black ;
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#menu li {
  display: inline-block;
  padding: 10px;
}

ul {
  list-style: none;
}

.container {
  display: inline-flex;
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.column p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
#large {
  width: 630px;
}

#medium {
  width: 300px;
}

#small {
  width: 240px;
}

.article {
  margin-bottom: 10px;
}

.article_name {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  height: 300px;
}

/* Figure out how to adjust image size*/

#phish {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  display: flex;
}

#cats {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
  display: flex;
}

#earth {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  display: flex;
}

#cameras {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
  display: flex;
}
